<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>BL Web App</title>
    	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"></link>
    	<link rel="stylesheet" href="/stylesheets/font-awesome.min.css"></link>
    	<script type="text/javascript" src="/javascripts/pace.min.js"></script>
    	<link rel="stylesheet" href="/stylesheets/style.css"></link>
	</head>
	<body>
		{{{body}}}
		<div id="footer">
			<a href="http://www.cs.ucl.ac.uk" target="blank"><img src='/images/ucl-logo.png' height=30 id="ucl-logo"/></a>
			<a href="http://students.cs.ucl.ac.uk/2014/group12" class="link-corner" target="blank" ><i class="fa fa-users"></i> About</a>
			<a href="/stats" class="link-corner" ><i class="fa fa-bar-chart"></i> Statistics</a>
			<a href="http://github.com/mombi93/group12-app" class="link-corner" target="blank" ><i class="fa fa-github-alt"></i> Repository</a>
			<p class="cc-license">
				<a rel="license" href="http://creativecommons.org/publicdomain/mark/1.0/">
					<img src="/images/cc.png"
				     style="border-style: none;" alt="Public Domain Mark" height="30" />
				</a>
				<span class="cc-stmt">All collections used are free of known copyright restrictions.</span>
			</p>
		</div>
	</body>

	<script type="text/javascript" src="/javascripts/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/masonry.pkgd.min.js"></script>
	<script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
	<script type="text/javascript" src="https://code.highcharts.com/modules/exporting.js"></script>
	<script type="text/javascript" src="/javascripts/util.js"></script>

</html>