<div class="page center-text">
	<h1>Request Denied</h1>
	
	<div class="alert alert-danger error" role="alert">
		<h4>{{error}}</h4>
		<h5>{{message}}<h5>
	</div>
	<p><a href="/">Back to homepage</a><p>
</div>