<div class="page center-text" id="index-page">
	<img class="bl-logo" src="/images/bl-logo.jpg" height=150 width=200>
	<h1>British Library Machine Learning Experiment</h1>
	<h4>Browse Digital Collections From Early 16th To Mid 19th Century</h4>
	<form action="">
		<input type="radio" name="searchType" value="title" checked> By Titles | 
		<input type="radio" name="searchType" value="tags"> By Tags
	</form>
	<br>
	<form id="query" action="/search" method="post" class="form-group">
		<input placeholder="Browse Collection" type="text" name="query" class="form-control search-bar">
		<br>	
		<input type="submit" value="Search Image" class="submitButton">
	</form>
	<a href="/search/random" id="random-btn"><input type="submit" value="Get Random Image" class="submitButton"> </a>
	<br>
	<p id="bl-blog-info">For more on the British Library Big Data Experiment see the <a href="http://britishlibrary.typepad.co.uk/digital-scholarship/" target="blank">British Library Digital Scholarship Blog</a></p>	
</div>