<div class="page" id="image-page">
	<div id="image-page-header">
		<a href="/"><img class="bl-logo" src="/images/bl-logo.jpg" height=75 width=110></a>
		<a href="javascript:history.go(-1)" class="back-search"><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	<hr>
    <div class="panel panel-primary" style="margin:50px auto">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Latest Statistics</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="info">
                                <td>Attributes</td>
                                <td>Number of Images</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Collection size
                                </td>
                                <td id="stat1"></td>
                            </tr>
                            <tr>
                                <td>Number of Machine Tagged images
                                </td>
                                <td id="stat2"></td>
                            </tr>
                            <tr>
                                <td>Number of images with either imagga and alchemy tags
                                </td>
                                <td id="stat3"></td>
                            </tr>
                            <tr>
                                <td>Number of images with both imagga and alchemy tags
                                </td>
                                <td id="stat4"></td>
                            </tr>
                            <tr>
                                <td>*Number of images with inconclusive results
                                </td>
                                <td id="stat5"></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div id="alchemy-tags" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div id="imagga-tags" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p>*These images do not produce any results after they have been analysed
            </p>
        </div>
    </div>
</div>