<div class="page" id="image-page">
	<div id="image-page-header">
		<a href="/"><img class="bl-logo" src="/images/bl-logo.jpg" height=75 width=100></a>
		<a class="back-search"><i class="fa fa-bar-chart"></i> Statistics</a>
	</div>
	<hr>
    <div class="panel panel-default" style="width:50%;margin:50px auto">
        <div class="panel-heading">
          <h3 class="panel-title">Latest Statistics</h3>
        </div>
        <div class="panel-body">
            <div class="tags">
                Collection size : {{collectionSize}} images
                <br>
                Number of Machine Tagged images : {{taggedImages}} images
                <br>
                Top 10 tags: 
                <ol>
                    <li>tag</li>
                    <li>tag</li>
                    <li>tag</li>
                    <li>tag</li>
                    <li>tag</li>
                    <li>tag</li>
                    <li>tag</li>
                    <li>tag</li>
                    <li>tag</li>
                    <li>tag</li>
                <ol>
                <br>
            </div>
        </div>
    </div>
</div>